{% extends 'index.html' %}

{% block titulo %}
    Creación Autores 2
{% endblock titulo %}
{% block body %}
    <form method="POST">
        {% csrf_token %} <!--solo para pruebas de envio de datos, el paquete csrf por defecto no deja sin re<lizar ajustes de seguridad-->
        {{ autor_form_view.as_p }} 
        <button type="submit"></button>
    </form>
    <br>
    <br>
    <form method="POST">
        {% csrf_token %}
        {{ autor_form_view.as_table }} 
        <button type="submit"></button>
    </form>
{% endblock body %}